@font-face {
    font-family: 'iconfont';
    /* project id 796938 */
    src: url('//at.alicdn.com/t/font_796938_xoe0dy4ru78.eot');
    src: url('//at.alicdn.com/t/font_796938_xoe0dy4ru78.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_796938_xoe0dy4ru78.woff') format('woff'), url('//at.alicdn.com/t/font_796938_xoe0dy4ru78.ttf') format('truetype'), url('//at.alicdn.com/t/font_796938_xoe0dy4ru78.svg#iconfont') format('svg');
}

i {
    font-style: normal;
}

section {
    width: 100%;
    margin-bottom: 50px;
}

.flex_ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_ul li {
    flex: 0 1 25%;
}

.line_title {
    font-size: 22px;
    font-family: '微软雅黑';
    color: #333;
    text-align: center;
}

.line_title .line_icon {
    display: block;
    width: 44px;
    height: 3px;
    background: #3cceb5;
    margin: 24px auto 0 auto;
}

/* 头部开始 */

header {
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 12px #999;
    padding: 0 120px;
    box-sizing: border-box;
    position: fixed;
}

header nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

header nav .left {
    display: inline-flex;
    align-items: center;
}

header nav .left .logo {
    margin-right: 50px;
    font-size: 24px;
}

header nav .left .tab {
    display: flex;
    font-size: 14px;
    color: #898f92;
}

header nav .left .tab .tab_list {
    padding: 0 10px;
    cursor: pointer;
}

header nav .left .tab .tab_list:hover {
    color: #1f8ded;
}

header nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .right>div {
    border: 1px solid #ff4138;
    color: #ff4138;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}

header nav .right>div:hover {
    background: #ff4138;
    color: #fff;
}

header nav .right>div:nth-child(3) {
    border: 1px solid #33b3ee;
    color: #33b3ee;
}

header nav .right>div:nth-child(3):hover {
    background: #33b3ee;
    color: #fff;
}

/* 头部结束 */

/* banner开始 */
.banner{
    width: 100%;
    background: url(../img/bg6b.jpg);
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
}
section.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

section.item>div {
    height: 100%;
    flex: 0 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.item .itemL .circle_icon {
    position: relative;
    transform: translateX(50%);
}

section.item .itemR .circle_icon {
    position: relative;
}

section.item .itemR .circle_icon .icon {
    transform: translateX(-120%);
}

section.item .circle_icon .icon_line {
    position: absolute;
    width: 70%;
    height: 2px;
    background: #3cceb5;
    top: 50%;
    right: 62px;
}

section.item .circle_icon .icon {
    width: 60px;
    height: 60px;
    border: 1px solid #3cceb5;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

section.item>div.itemL {
    text-align: right;
}

section.item>div.itemL>div {
    position: relative;
}

section.item>div.itemL>div p:nth-child(1) {
    position: absolute;
    right: 0;
}

section.item>div.itemL>div p:nth-child(3) {
    transform: translateY(-100%);
}

section.item>div.itemR {
    text-align: left;
}

section.item>div.itemR>div {
    position: relative;
}

section.item>div.itemR>div p:nth-child(1) {
    position: absolute;
    left: 0;
}

section.item>div.itemR>div p:nth-child(3) {
    transform: translateY(-100%);
}

section.item>div>div p:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
}

section.item>div>div p:nth-child(2) {}

section.item>div>div p:nth-child(3) {
    font-size: 16px;
    color: #666;
}

section.item>div.itemM .phone {
    margin: 0 auto;
    position: relative;
    background: #111;
    border-radius: 55px;
    box-shadow: 0px 0px 0px 2px #aaa;
    width: 320px;
    height: 568px;
    padding: 105px 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    transform: scale(0.7);
}

section.item>div.itemM .phone::before {
    content: '';
    width: 60px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    background: #333;
    top: 50px;
}

section.item>div.itemM .phone .box {
    height: 100%;
    display: block;
    width: 100%;
    margin-top: 20px;
    background: url(../img/QQ截图20180817105251.png);
    background-size: cover;
}

section.item>div.itemM .phone .statusbar {
    position: absolute;
    width: 320px;
    height: 20px;
    background: url(../img/下载.png);
    left: 50%;
    margin-left: -160px;
    top: 100px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

section.item>div.itemM .phone::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid #333;
}

/* banner结束 */

/* 第一部分开始 */

section.item_first {
    background: #e2e6e9;
}

section.item_first ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section.item_first ul:nth-child(1) {
    margin-bottom: 50px;
}

section.item_first ul li {
    position: relative;
}

section.item_first ul li img {
    display: block;
}

section.item_first ul li .des {
    width: 100%;
    height: 107px;
    padding-top: 45px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    -moz-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
}

section.item_first ul li .des:hover h1,
section.item_first ul li .des:hover p {
    color: #fff;
}

section.item_first ul li .des_1:hover {
    background: #fd9a46;
}

section.item_first ul li .des_2:hover {
    background: #777ab2;
}

section.item_first ul li .des_3:hover {
    background: #45cf73;
}

section.item_first ul li .des_4:hover {
    background: #d34f4e;
}

section.item_first ul li .des_5:hover {
    background: #e7c427;
}

section.item_first ul li .des_6:hover {
    background: #df6b8b;
}

section.item_first ul li .des h1 {
    font-size: 20px;
    font-family: '微软雅黑';
    font-weight: normal;
    color: #333;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
}

section.item_first ul li .des p {
    font-size: 16px;
    font-family: '微软雅黑';
    color: #666;
    line-height: 18px;
}

section.item_first ul li .icon {
    width: 100%;
    position: absolute;
    top: 115px;
    left: 105px;
}

section.item_first ul li .icon {
    display: block;
}

section.item_first ul li .next {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/first/accrow_icon.png) no-repeat center;
    position: absolute;
    bottom: -11px;
    left: 135px;
}

/* 第一部分结束 */

/* 第二部分开始 */

section.item_two {
    background: #fff;
}

section.item_two ul {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.item_two ul li {
    flex: 0 1 25%;
    padding: 0 8px;
}

section.item_two ul li>div {
    min-height: 208px;
    padding: 66px 14px 014px;
    border: 1px solid #ecf0f1;
    position: relative;
    cursor: default;
    transition: background 0.3s;
    -moz-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
}

section.item_two ul li>div:hover {
    background: #3cceb5;
}

section.item_two ul li>div:hover h1,
section.item_two ul li>div:hover p {
    color: #fff;
}

section.item_two ul li>div i {
    display: block;
    position: absolute;
    top: -66px;
    left: 50%;
    transform: translateX(-50%);
}

section.item_two ul li>div i img {
    display: block;
}

section.item_two ul li>div h1 {
    font-size: 18px;
    color: #000;
    font-family: '微软雅黑';
    font-weight: normal;
    line-height: 58px;
    text-align: center;
}

section.item_two ul li>div p {
    font-size: 14px;
    color: #959595;
    font-family: '微软雅黑';
    line-height: 24px;
    text-align: center;
}

/* 第二部分结束 */

/* 第三部分开始 */

section.item_three li {
    width: 300px;
    height: 345px;
}

section.item_three li .icon {
    text-align: center;
    padding: 32px 0;
}

section.item_three li .icon img {
    width: 110px;
    height: 110px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    transition: 1s ease;
}

section.item_three li:hover .icon img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
}

section.item_three li .des p:nth-child(1) {
    font-size: 22px;
    color: #333;
    text-align: center;
}

section.item_three li .des p:nth-child(2) {
    font-size: 14px;
    height: 60px;
    text-align: left;
    padding: 20px;
    color: #666;
}

/* 第三部分结束 */

/* 第四部分开始 */

section.item_four p {
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

section.item_four li {
    padding: 0 11px;
}

section.item_four li>div {
    text-align: center;
}

section.item_four li>div .img_box {
    text-align: center;
}

section.item_four li>div .title {
    text-align: center;
    font-size: 20px;
    color: #e02a2a;
    padding: 20px 0;
}

section.item_four li>div .pro {
    text-align: center;
    font-size: 14px;
    color: #666666;
    padding: 0 10px;
}

/* 第四部分结束 */

/* 第五部分开始 */

section.item_five li {
    padding: 40px 60px;
}

section.item_five li>div:nth-child(1) {
    width: 100%;
}

section.item_five li>div:nth-child(2) {
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

/* 第五部分结束 */

/* 第六部分开始 */

/* 第六部分结束 */

/* 脚部开始 */
footer {
    background: #4d4d4d;
    padding: 10px 0 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
footer p{
    margin-top: 0;
    margin-bottom: 1rem;
}
/* 脚部结束 */

section.item_zero .declare_first {
    width: 1000px;
    height: 142px;
    margin: 0 auto;
    background: url(../img/zero/declare.png) no-repeat center;
}

section.item_zero .declare_two {
    text-align: center;
    padding: 20px 0;
}